.nav-button{
    /* color:red; */
    /* background-color: yellow; */
    margin-right: 7px;
    font-size: 16px;
    
}
.nav-bar{
    /* background-color: white; */
    
}
.user-photo{
    width: 32px;
    height: 32px;
}