.social-container{
    height: 30px;
    /* width: 200px; */
}
.social-icon{
    font-size: 25px;
/* color: aqua; */
margin-right: 20px;
transition-duration: 2sec;
}
.social-icon:hover{
    color:aqua;
    cursor: pointer;
    /* transition: all; */
}